
html, body{
    background:#EAEDED;
    margin: 0;
    padding: 0;
    font-family: "Amazon Ember",Arial,sans-serif;
}

#header{
    background:#232f3e;
    color: #f7f7f7;
    
    width: 100%;
    margin-top: -1.5%;
    display: inline-block;
    padding: 1% 0 0 1%;
}

.header-comp{
    display: inline-block;
}

#head-title{
    width: 20%;
}

#head-search-nav{
    width: 60%;
}

#nav{
    width: 60%;
    color: #ccc;
    padding-top: 1%;
    margin: 2px;
}

.nav-link{
    background:#232f3e;
    width: auto;
    color: #ccc;
    margin-top: 1%;
    padding: 5px;
    font-family: "Amazon Ember",Arial,sans-serif;
    font-size: 13px;
}

a:link{
    text-decoration: none;

}

a:hover{
    border: 1px solid #ccc;
}

#search-bar{
    width: 90%;
    height: 3vh;
    border-radius: 5px;
    border: #333333 solid 1px;
}

#dropdown{
    background: #232f3e;
    color: #ccc;
}

#sign-in{
    width: 19%;
}

#tiles{
   padding-top: 4%;
    
}   

.tile{
    /* background: #f7f7f7; */
    width: 15%;
    height: 40vh;
    /* border: solid slategray 1px; */
    margin: 3% 3% 3% 3%;
    display: inline-block;
    transition: 1s ease-out;
    cursor: pointer;
}

.image{
    width: 100%;
    height: 40vh;
}

#tile1{
    margin-left: 10%;
}

#tile2{
    
}

#tile3{
    
}

#tile4{
    
}